# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [2]:
#Given a list of numbers
numbers=[12,75,150,180,145,525,50]
#initialize b to 1st member of list for one to one comparison
b=numbers[0]
#loop over each member of the list & alter b only if member value is greater than earlier assigned b
for i in numbers:
  if i>=b:
    b=i
# print the largest number in the given list
print(b)

525

Q2. Print all the even number between (1, 12).

In [3]:
#loop over each & every integer between 1 & 12 & check its divisibility by 2
for i in range(1,12):
  if i%2==0:
    print(i)

2
4
6
8
10

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [5]:
#enter a number greater than 1
n=int(input("Enter an integer greater than 1 :- "))
# assign variable x to zero
x=0
# loop over each and every integer from 1 to n+1 & keep adding it to x
for i in range(1,n+1):
  x+=i
print("sum is ",x)

Enter an integer greater than 1 :- 10
sum is  55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [ ]:
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

In [9]:
numbers=[12,75,150,180,145,525,50]
# loop over each number and check its divisibility by 5
for i in numbers:
  if i%5==0:
#if it is divisible 5 , check whether it is in the range of (150,500), if it is out of range in lower side print it ,if it is out of range in higher side break the loop, if in the range skip it.
    if i > 150 and i <500:
      continue
    elif i >500 :
      break
    print(i)

75
150
145

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [6]:
list1=[10,20,30,40,50]
list1[::-1]

[50, 40, 30, 20, 10]

In [7]:
list2=[]
for i in range(1,len(list1)+1):
  list2.append(list1[-i])
print(list2)

[50, 40, 30, 20, 10]